.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 55px;
}
.site-header {
  min-width: 1000px;
}

.menu__pic {
  min-height: 90px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 10px 0;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-left: 69px;
}

.menu__item:nth-child(1) {
  margin-left: 0;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #40494d;
}

.menu__link::after {
  display: block;
  width: 0;
  height: 1px;
  background-color: #283337;
  content: '';
}

.menu__link:hover::after {
  display: block;
  width: 100%;
}

/* 
.input {
  display: inline-block;
  outline: none;
  border: none;
  text-align: center;
  padding: 19px 25px;
  background: #283337;
  border-radius: 56px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
} */

.menu__sub__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 16px 25px;
  background: #283337;
  border-radius: 56px;
  text-align: center;
  cursor: pointer;
}
